{
  "plugins": [
    "unused-imports"
  ],
  "extends": [
    "plugin:@next/next/recommended",  "@eyecuelab/react"
  ],
  "rules": { 
  "max-len": "off",
  "max-lines": "off",
  "unused-imports/no-unused-imports-ts": "warn",
  "unused-imports/no-unused-vars-ts": "warn",
  "no-console": "warn"
  }
}
